<!DOCTYPE html>
<html>
<head>
    <title>Lucid Waker Privacy Policy</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
            <br><h1 style="font-size:250%; color:green; text-align:center;">Lucid Waker Privacy Policy</h1><br>
            <p style="font-size:150%;">
                Lucid Waker cannot and does not collect any kind of data at all.<br>
                It lacks any database to store any information.<br>
                The app doesn't even have any third party services that can track you.<br>
                If you have any questions about the Privacy Policy, please do not hesitate to email <a href="mailto: lucidwakerapp@gmail.com">lucidwakerapp@gmail.com</a>.
            </p>
        </div>
      </div>
    </main>
</body>
</html>